// Body
$body-bg: #fff;

$grid-columns: 14 !default;
$grid-gutter-width: 30px !default;


// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$text-red: #D30D1C;
$text-blue: #002A48;
$text-grey: #333333;
$text-grey-light: #DEDEDE;
$text-grey-dark: #333333;
