.menu-vertical {
    position: relative;

    .menu-list {
        list-style: none;
        padding: 0px;

        .menu-item {
            font: normal normal 600 16px/54px Montserrat;
            color: $text-grey;
            text-transform: uppercase;
            transition: padding .3s ease-in-out;
            cursor: pointer;
            a {
                color: unset;
                text-decoration: none;
            }

            &:hover{
              color: $text-red;
            }

            &.active {
                padding-left: 20px;
                color: $text-red;
            }
        }
    }

    .indicator {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 5px;
        height: 28px;
        background-color: $text-red;
        transform: translateY(13px);
        transition: all .3s ease-in-out;
    }
}

.menu-vertical-content{
    height: 0px;
    transition: min-height .3s ease-in-out;
    overflow: hidden;
    position: relative;
    [class^="content-"]{
        //display: none;
        //transition: all .3s ease-in-out;
        &.animate__animated{
            position: absolute;
            width: 100%;
            top: 0px;
        }
    }
    .active {
        z-index: 1001;
    }
    .content-8.active {
        z-index: 1000 !important;
    }
}
