.slide-text {
    .slide-text-left {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid $text-red;
        padding: 20px 25px 0px;
        margin: 0px 20px;
        position: relative;

        .btn-back {
            position: absolute;
            left: -14px;
            top: calc(50% - 14px);
        }

        .btn-next {
            position: absolute;
            right: -14px;
            top: calc(50% - 14px);
        }

        .slide-text-icon {
            margin: 0px -12px 0px 0px;
            text-align: right;
            img {
              height: 36px;
            }
        }

        .slide-text-left-group {
            .slide-text-left-title {
                font: normal normal normal 36px/49px Source Serif Pro;
                color: $text-blue;
                margin-bottom: 20px;
                height: 49px;
                overflow: hidden;
                position: relative;

                .item-title-wrap {
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    top: 0px;
                    transition: top 300ms ease-in-out;
                }
            }

            .slide-text-left-content {
                font: normal normal normal 14px/24px Montserrat;
                color: $text-grey;
                overflow: hidden;

                .item-content-wrap {
                    position: relative;
                    transition: left 300ms ease-in-out;
                    left: 0px;

                    .item {
                        float: left;
                    }
                }
            }

            .slide-text-left-number {
                font: normal normal 300 90px/64px Montserrat;
                letter-spacing: 0px;
                color: $text-grey-light;
                padding-top: 30px;
                position: relative;

                .number-new {
                    position: absolute;
                    z-index: 2;
                    display: none;
                    bottom: 0px;
                }
            }

            .readmore-wrap {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .slide-text-right {
        background: #D30D1C 0% 0% no-repeat padding-box;
        margin: 0px 20px;
        overflow: hidden;

        .slide-text-right-title {
            font: normal normal normal 32px/44px Source Serif Pro;
            color: #FFFFFF;
            opacity: 0.38;
            text-align: center;
            padding: 20px;
            overflow: hidden;

            .item-title-wrap {
                position: relative;
                transition: left 300ms ease-in-out;
                left: 0px;
                .item {
                    float: left;
                }
            }
        }

        .slide-text-right-number {
            font: normal normal 200 90px/65px Montserrat;
            color: #FFFFFF;
            opacity: 0.28;
            margin-left: -30px;
            position: relative;

            .number-new {
                position: absolute;
                z-index: 2;
                display: none;
                bottom: 0px;
            }
        }
    }
}


@media (min-width: 992px) {
    .slide-text {
        .slide-text-left {
            margin: 0px;
            z-index: 2;

            .btn-back {
                position: absolute;
                left: -20px;
                top: calc(50% - 20px);
            }

            .btn-next {
                position: absolute;
                right: -20px;
                top: calc(50% - 20px);
            }

            .slide-text-icon {
                margin: 0px;

                img {
                    height: 68px;
                    width: auto;
                }
            }

            .slide-text-left-group {
                padding-right: 30px;

                .slide-text-left-title {
                    font: normal normal normal 68px/93px Source Serif Pro;
                    height: 93px;
                }

                .slide-text-left-number {
                    font: normal normal 300 117px/85px Montserrat;
                }

                .readmore-wrap {
                    justify-content: flex-end;
                }
            }
        }

        .slide-text-right {
            z-index: 1;
            margin: 0px;
            height: 100%;
            padding-top: 20px;

            .slide-text-right-title {
                text-align: left;
                font: normal normal normal 48px/66px Source Serif Pro;
                padding: 20px 0px 20px 20px;
            }

            .slide-text-right-number {
                font: normal normal 300 117px/85px Montserrat;
                margin-left: -40px;

                position: absolute;
                bottom: 0px;
            }

        }
    }
}
